<div class="container">
  <div class="side">
    <app-nav-list 
      (select)="handleSelect($event)"
      (selectAll)="handleSelectAll()"
      [items]="items$|async"
    >

    </app-nav-list>

  </div>
  <div class="main" >
    <div class="content">
        <app-class-item
        class="card"
        *ngFor="let cla of classes$|async"
        [item]="cla"
        (delete)="handleDelete(cla)"
        (addStudent)="handleAddStudent(cla)"
        (update)="handleEdit(cla)"
        (itemSelected)="handleDetailClick(cla)">
      </app-class-item>
    </div>
    
    <app-page
    
     (change)="handlePageChange($event)"
     >
     </app-page>
  </div>
</div>
<button class="fab-button" md-fab type="button" *ngIf="showadd$|async" (click)="openNewClassDialog()">
  <md-icon >add</md-icon>
</button>
