.fab-button{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}
.container{
  display: flex;
  flex-direction: row;
  margin-top:20px;

}
.side{
  width:30%;
}
.main{
  width:65%;
}
.content {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  height: 280px;
  flex: 0 0 240px;
  margin: 10px;
  display: flex;
}
:host {
  width: 100%!important;
  height: 100%!important;
  position: inherit!important;
}


