.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:80%;
    margin: 0 auto;
    margin-top: 15px;
    overflow-y: auto;
}
.side{
    width:30%;
}
.content{
    width:65%;
}
:host {
    width: 100%!important;
    height: 100%!important;
    position: inherit!important;
  }