<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <md-card>
    <md-card-header>
      <md-card-title>找回步骤2：重置密码</md-card-title>
    </md-card-header>
    <md-card-content>  
      <ng-container formGroupName="pwd">
        <md-input-container class="full-width"   color="accent">
          <input mdInput type="password" placeholder="您的密码" formControlName="Password">
          <md-error >密码格式不正确</md-error>
        </md-input-container>
        <md-input-container class="full-width"   color="accent">
          <input mdInput type="password" placeholder="再次输入您的密码" formControlName="repeat">
          
        </md-input-container>
        <md-error *ngIf="form.get('pwd').hasError('equal')&&form.get('pwd').get('repeat').touched">两次密码不一致</md-error>
      </ng-container>
      <button md-raised-button color='accent' [disabled]="!form.valid" type="submit">重置密码</button>
      <span class="error" *ngIf="iserror">{{error}}</span>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>想起密码?<a routerLink="/login">登录</a></p>
    </md-card-actions>
  </md-card>

  
</form>
