<form  [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <h2 md-dialog-title>{{title}}</h2>
  <div md-dialog-content>     
      <md-select placeholder="选择证书"  formControlName="DiplomaID" >
        <md-option *ngFor="let diploma of diplomas$|async" [value]=diploma.DiplomaID 
        >
        {{diploma.DiplomaName}}
        </md-option>
      </md-select>
      <md-input-container   class="full-width" >
        <input mdInput type="text" placeholder="证书获取时间" formControlName="CreateTime" [mdDatepicker]="dueDatepicker">
        <button type="button" mdSuffix [mdDatepickerToggle]="dueDatepicker"></button>
      </md-input-container>
      <md-datepicker #dueDatepicker></md-datepicker>
  </div>
  <div md-dialog-actions>
      <button md-raised-button color='primary' type="submit"  >保存</button>
      <button md-dialog-close md-button  type="button">关闭</button>
  </div>

</form>