
<md-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <md-sidenav #sidenav mode='over' >
    <app-sidebar [items]="menuitems" (navClick)="launchNavClick($event)" >

    </app-sidebar>
  </md-sidenav>
  <div class='site'>
    <header>
      <app-header (toggle)='sidenav.toggle()' (selectRole)="launchSelectRole()" (toggleDarkTheme)='switchTheme($event)' (logout)="handleLogout()"></app-header>
    </header>
    <main >
     <router-outlet ></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>