md-nav-list>md-list-item{
    padding-left: 24px;
    padding-right: 24px;
}
md-nav-list>md-list-item span{
    //margin-left: 24px;
    font-size: 12px;
}
.selected{
    background-color:#ff4081;
    //color: white;
}