<div class="container">
  <div class="searchbar" >
    <md-input-container  class="p70-width"  >
      <input mdInput type="text" placeholder="Name/QQ/Phone/IdCard" [(ngModel)]="key">
      <button mdSuffix md-icon-button type="button">
        <md-icon class="search" (click)="handleSearch()">search</md-icon>
      </button>
    </md-input-container>
    <button color="accent"md-raised-button type="button" [disabled]="canadd$|async" (click)="openNewStudentDialog()">
      <md-icon class="search" >add</md-icon>
      新增
    </button>
    
  </div>
  <div class="header">
    <app-student-filter
    [filter]="filter"
    (change)="handleFilterChange($event)"
    ></app-student-filter>
  </div>
  <!-- <ng2-smart-table [settings]="settings" [source]="students$|async"></ng2-smart-table> -->
  <app-table
  [setting]="settings"
   [data]="students$|async"
   (clickItem)="handleDetailClick($event)"
   (changeNum)="handleChangeNum($event)"
  >

  </app-table>
  <!-- <div class="list"  [@listAnim]="students$|async">

    <app-student-item *ngFor="let student of students$ |async"
      [item]="student"
      class="card"
      (inDetail)="handleDetailClick(student)"
    >
  
    </app-student-item>

  </div> -->
  <app-page
 
  (change)="handlePageChange($event)"
  >
  </app-page>
</div>
