
<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
    <h2 md-dialog-title>{{title}}</h2>
    <div md-dialog-content>
        <md-input-container class="mgr15 wd150">
            <input mdInput type="text" placeholder="类别名称" formControlName="CategoryName">
        </md-input-container>
        
        <md-slide-toggle  *ngIf="data.category" formControlName="State">是否可用</md-slide-toggle>
    </div>
   
    
    <div md-dialog-actions>
        <button md-raised-button color='primary' type="submit" [disabled]='!form.valid' >保存</button>
        <button md-dialog-close md-button  type="button">关闭</button>
    </div>
  
</form>